<form class="form-group" method="post" action="/admin/blog/edit" id="BlogInfo">
    <input type="hidden" value="{{ .blog.Id }}" name="id">
    <input type="hidden" value="{{ .blog.PublicTime}}" name="public_time">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">标题</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="title" value="{{ .blog.Title }}">
    </div>
    <div class="input-group">
        <textarea class="form-control" name="content">{{ .blog.Content }}</textarea>
    </div>
    <div class="form-check">
        {{ range $index, $category := .categorys }}
            <input class="form-check-input" type="checkbox" id="{{ $category.Id }}">
            <label class="form-check-label" for="defaultCheck1">
               {{ $category.Name }}
            </label>
        {{ end }}
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px">提交</button>
    <button type="button" class="btn btn-danger" style="margin-top: 20px" onclick="cancel()">取消</button>
</form>
<script type="application/javascript">
    function cancel() {
        window.location.href = "/admin/blog"
    }
    function getCategorys() {

    }
</script>
