<form class="form-group" method="post" action="/admin/blog/edit" id="BlogInfo">
    <input type="hidden" value="{{ .blog.Id }}" name="id">
    <input type="hidden" value="{{ .blog.PublicTime}}" name="public_time">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">标题</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="title" value="{{ .blog.Title }}">
    </div>
    <div class="input-group">
        <textarea class="form-control" name="content">{{ .blog.Content }}</textarea>
    </div>
    {{ range $index, $category := .categorys }}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ $category.Id }}" name="categorys">
            <label class="form-check-label">
               {{ $category.Name }}
            </label>
        </div>
    {{ end }}
    <button type="submit" class="btn btn-primary" style="margin-top: 20px" onclick="getCategorys()">提交</button>
    <button type="button" class="btn btn-danger" style="margin-top: 20px" onclick="cancel()">取消</button>
</form>
<script type="application/javascript">
    function cancel() {
        window.location.href = "/admin/blog"
    }
    function getCategorys() {
        var categorys = document.getElementsByName("categorys");
        var allCategorys = new Array();
        for (var i = 0; i < categorys.length; i++) {
            if (categorys[i].checked) {
                allCategorys.push(categorys[i].value)
            }
        }
        categorys.value = allCategorys;
    }
</script>
