<form class="form-group" method="post" action="/admin/category/edit" id="CategoryInfo">
    <input type="hidden" value="{{ .category.Id }}" name="id">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">类名</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="name" value="{{ .category.Name }}">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">描述</span>
        </div>
        <textarea class="form-control" name="description">{{ .category.Description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px">提交</button>
    <button type="button" class="btn btn-danger" style="margin-top: 20px" onclick="cancel()">取消</button>
</form>
<script type="application/javascript">
    function cancel() {
        window.location.href = "/admin/category"
    }
</script>